<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Just Dance Randomizer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- UI KIT -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    </head>

    <body>
        <div class="header">
            <h1>Just Dance Randomizer</h1>
        </div>

        <form action="/" method="post">
            {% csrf_token %}
            {% if isUnlimited %}
                <input type="checkbox" id="isUnlimited" name="isUnlimited" checked>
            {% else %}
                <input type="checkbox" id="isUnlimited" name="isUnlimited">
            {% endif %}
            <label for="isUnlimited">Allow songs from Just Dance Unlimited</label>
            <input class="uk-button uk-button-default" type="submit" value="Click here to pick a random song">
        </form> 

        {% if response %}
            {% for item in response %}
                <p>{{ item }}</p>
            {% endfor %}
        {% endif %}

    </body>
</html>